<div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign up</h2>
      <label for="inputName" class="sr-only">Username</label>
      <input type="text" [(ngModel)]="signupRequest.name" [ngModelOptions]="{standalone: true}" id="inputName" 
              class="form-control margin-top-1" placeholder="Username" required="" autofocus="">

      <label for="inputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="signupRequest.password" [ngModelOptions]="{standalone: true}" type="password" id="inputPassword"
              class="form-control margin-top-1" placeholder="Password" required="">

      <label for="repeatInputPassword" class="sr-only">Password</label>
      <input [(ngModel)]="repeatedPassword" [ngModelOptions]="{standalone: true}" type="password" id="repeatInputPassword" 
              class="form-control margin-top-1" placeholder="Repeat password" required="">
      
      <button class="btn btn-lg btn-primary btn-block margin-top-1" type="submit" (click)="sendSignupRequest()">Sign up</button>
    </form>

  </div> <!-- /container -->