  <div class="container">

    <form class="form-signin">
      <h2 class="form-signin-heading">Please sign in</h2>
      <label for="inputEmail" class="sr-only">Username</label>
      <input type="email" id="inputEmail" class="form-control margin-top-1" placeholder="Username" required="" autofocus="">
      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" class="form-control margin-top-1" placeholder="Password" required="">
      <div class="row">
        <div class="checkbox col-6">
          <label>
            <input type="checkbox" value="remember-me"> Remember me
          </label>
        </div>
        <div class="col-6 text-right">
          <a href="/signup">Sign up</a>
        </div>
      </div>
      <button class="btn btn-lg btn-primary btn-block margin-top-1" type="submit" (click)="sendLoginRequest()">Sign in</button>
    </form>

  </div> <!-- /container -->