 <!-- Navigation -->
 <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Did you use hearthstone again..?</a>
    <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button> -->
    <button id="create-room-btn" class="btn btn-lg btn-primary margin-top-1" type="submit"><h5>Create new room</h5></button>
          
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <!-- <li class="nav-item active"> -->
          <!-- <a class="nav-link" href="#">Home -->
            <!-- <span class="sr-only">(current)</span> -->
          <!-- </a> -->
        <!-- </li> -->
        <li class="nav-item">
          <a class="nav-link" href="/my-heroes">My Heroes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Wiki</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Log out</a>
        </li>
      </ul>
    </div>
  </div>
</nav>