@import "~bootstrap/dist/css/bootstrap.css";

body {
    background-color: black;
}

span, h1, h2, h3, h4, h5, h6, label, p {
    color: white;
}

.text-black {
    color: black;
}

.padding-top-1 {
    padding-top: 1%;
}

.margin-top-1 {
    margin-top: 1%;
}
