<div>

  <app-header></app-header>

  <!-- Page Content -->
  <div class="container" style="padding-top: 5%;">

    <div class="row">

      <div class="col-md-3">

        <h3 class="my-3">Players near you</h3>
        <div class="list-group">
          <a href="#" class="list-group-item">Player 1</a>
          <a href="#" class="list-group-item">Player 2</a>
          <a href="#" class="list-group-item">Player 3</a>
        </div>

      </div>
      <!-- /.col-lg-3 -->

      <div class="col-md-9">
        <div class="row">

          <div class="col-lg-4 col-md-6 mb-6" *ngFor="let room of rooms" id="room-block">
            <div class="card h-100">
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{room.name}}</a>
                </h4>
                <p class="card-text">
                  Master: {{room.master}}<br>
                  World: <a href="#">{{room.worldName}}</a><br> <!-- link to world info ..?-->

                </p>
              </div>
              <div class="card-footer">
                <small class="text-muted">
                  <p class="text-black">Current players in room ({{room.currentPlayers}}/{{room.maxPlayers}}):</p>
                
                  <!-- TODO: change it via server info -->
                  User1 - Mage<br> 
                  User2 - Warior<br>
                  User3 - N/A<br>
                </small>
                <hr>
                <button id="join-room-btn-{{room.id}}" class="btn btn-lg btn-primary btn-block margin-top-1" type="submit">Join</button>
              </div>
            </div>
          </div>

        </div>
        <!-- /.row -->


        <div class="row col-md-3 col-lg-3 offset-md-5 offset-lg-5">
            <p class="m-0 text-center paging">paging 1 2 3</p>
        </div>
      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->

</div>
